{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>
            Gabay<span>Gamot</span>
        </h1>

        <h2>
            Your Guide to Affordable Medicines
        </h2>

        <p>
            GabayGamot helps users find available medicines,
            compare generic and branded options, and order
            safely from registered pharmacies.
        </p>

        <div class="hero-actions">
            <a href="{% url 'medicine_list' %}" class="btn">
                Browse Medicines
            </a>
            <a href="{% url 'about' %}" class="btn btn-edit">
                Learn More
            </a>
        </div>
    </div>

    <div class="hero-visual">
        <!-- optional image or empty placeholder -->
        <img src="{% static 'images/person-hold-mobile-phone-point-blank-screen.jpg' %}"
             alt="GabayGamot Preview">
    </div>
</section>
{% endblock %}
